@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #534B62;
  --foreground: #FEE1C7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FEE1C7;
    --foreground: #534B62;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
